body{
    font-family: ubuntu;
    color:white;
}

 a {color:white} a:visted {color:white;} /* Minor Link Styles */ 

button {
    border: none;
    color: white;
    padding: 10% 10%;
    text-decoration: none;
    cursor: pointer;
    width:50%;
    float:left;
    
    
}


div.layout {
    float:left;
     width: 50%;
    height: 600px;
    
}

/* Colorful Sections */

#codeDiv{background-color: #A1BE95; /* Green */}
#codeBody{background-color: #A1BE95; /* Green */}

#writingDiv {background-color: #F8A055; /* Orange */}

#mediaDiv {background-color: #92AAC7; /* Blue */}

#designDiv {background-color: #ED5752; /* Red */}

#codeImg{
    width: 70%;
    margin-top: -10px;
    float:left;
    margin-left:15% 
    
}

/* Text Styles */
.codeText{
    font-size: 4vw;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

h1{
    font-size:5vw;
}

/* Layout of Content Pages */

#collegeKnowledge {
    width: 50%;
    float:left;
}
#ecuador {
    width: 50%;
    float:left;
}
