body{
    font
}

button {
    border: none;
    color: white;
    padding: 25% 25%;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width:50%;
    height: 25%;
    float:left;
    max-width: 5px;
    
}

#code{
    background-color: #A1BE95; /* Green */
}

#writing{
    background-color: #F8A055; /* Orange */
   
}

#media{
    background-color: #92AAC7; /* Blue */
}

#design{
    background-color: #ED5752; /* Red */
}

.codeText{
    float:left;
    font-size: 1em;
    width: 80%;
    height: auto;
    margin-left: -15px;
    margin-top: 10px;
}

